.scroll-to-top-button {
    position: fixed;
    bottom: 32px;
    right: 32px;
    display: none;
    background-color: var(--text-color);
    color: var(--bg-color);
    border: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}
.scroll-to-top-button.visible {
    display: block;
}
/* Responsive */
@media screen and (max-width: 1000px) {
    .scroll-to-top-button {
        right: 20px;
        bottom: 20px;
    }
}
