.theme-change-btn {
    position: fixed;
    bottom: 32px;
    left: 32px;
    background-color: var(--text-color);
    color: var(--bg-color);
    border: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}
/* Responsive */
@media screen and (max-width: 1000px) {
    .theme-change-btn {
        left: 20px;
        bottom: 20px;
    }
}
